* {
    background-color: pink;
    
}
    /* learned the display property in CSS */
/* div{
    background-color: rgb(202, 255, 124);
    height: 400px;
    display: block;
}
span
{
    background-color: rgb(202, 255, 124);
    height: 540px;
    
    display: block;
} */








































