.container
{
    display: flex;
    border: 10px solid black;
    /* height: 90 px; */
    align-items: flex-end;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    /* justify-content:space-evenly; */
}



.box
{
    font-size: 8em;
    height: 150px;
    text-align: center;
    width: 150px;
    height: 150px; 
    border-radius: 15px;
}

#box1
{
    background-color: hsl(0, 100%, 70%);
}

#box2
{
    background-color: hsl(52, 100%, 70%);
}

#box3
{
    background-color: hsl(77, 100%, 70%);
}
#box4
{
    background-color: hsl(210, 100%, 70%);
}

























