



div{
    background-color: hsl(0, 100%, 75%);
    width: 100px;
    height: 100px;
    display: inline-block;
}
span
{
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: inline-block;
}






























